<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos/custom.css">
    <link rel="stylesheet" href="menu-bar.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Kaiju - Bar Menu</title>
</head>
<body class="crema">
    <header>
        <div class="loader">
            <div class="ball"></div>
        </div>
        <!--Barra de navegacion-->
        <nav id="navBar" class="azul h-16 flex items-center justify-center"></nav> 
    </header>

    <main>

        <!--Boton para ir al top-->
        <div id="to-top" class="cursor-pointer h-10 w-10 azul text-white py-3 px-8 rounded-lg flex justify-center items-center fixed right-10 z-40 bottom-10 material-symbols-outlined hover:bg-blue-300 hover:text-gray-900 hover:scale-110 duration-300">
            <button>expand_less</button>   
        </div>

        <section class="flex flex-col justify-center items-center relative">

            <div class="h-full w-full overflow-hidden relative">

                <div class="ban-me-bar relative">

                    <div class="overlay4 z-20"></div>

                </div>

                <div class="absolute top-0 bottom-0 right-0 left-0 z-20">
                    <div class="logo flex justify-center items-center my-10">
                        <img src="/imagenes/Logo1.png" alt="logo de kaiju sushi-bar" class="w-52 lg:w-[15%]">
                    </div>
                </div>
        
            </div>
            

            <div class="flex justify-center items-center mt-10 py-10">
                <h1 class="fuente-B text-5xl lg:text-6xl">MENU</h1>
                <h1 class="fuente-A text-5xl lg:text-6xl">-BAR</h1>
            </div>
            <p class="mx-[5%] text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, facere.</p>

            <div class="m-[5%] negro rounded-lg w-[90%] h-full p-14 flex flex-col gap-7 shadow-2xl pb-40">

                <!--CERVEZAS-->
                <h2 class="fuente-A text-white uppercase text-3xl pb-3 border-b pt-16">Cervezas</h2>

                <div id="lista-cerveza" class="carta flex flex-col gap-5 md:align-middle md:flex-row md:flex-wrap">
                    
                </div>

                <!--COCTELES-->
                <h2 class="fuente-A text-white uppercase text-3xl pb-3 border-b pt-16">Cocteles</h2>

                <div id="lista-coctel" class="carta flex flex-col gap-5 md:align-middle md:flex-row md:flex-wrap">

                </div>

                <!--VINOS-->
                <h2 class="fuente-A text-white uppercase text-3xl pb-3 border-b pt-16">Vinos</h2>

                <div id="lista-vino" class="carta flex flex-col gap-5 md:align-middle md:flex-row md:flex-wrap">
                    
                </div>


            </div>

            

        </section>


        <div class="iconos-final my-20 h-72 w-full py-20 relative">

            <img src="/imagenes/bar-icon2.png" alt="icono de sushi" class="absolute hidden right-10 opacity-90 -z-10 lg:flex md:flex p-10 top-28">

            <img src="/imagenes/waves-blue.png" alt="ondas azules" class="absolute hidden right-0 opacity-20 -z-20 lg:flex md:flex">

            <div class="flex flex-col lg:flex-row md:flex-row justify-center py-6 gap-7 mx-[10%] lg:mx-[5%] z-50">
                <button id="reserva-btn" class="azul py-3 px-20 rounded mx-2 text-white fuente-A text-xl transition ease-in-out delay-150 hover:bg-blue-300 hover:text-gray-900 shadow-xl hover:scale-110 duration-300" >RESERVA ON-LINE</button>
            </div>
        </div>

    </main>
    <footer id="foot" class="h-full w-full pt-52"></footer>


<script src="../components/navBar.js"></script>
<script src="../components/footer.js"></script>
<script src="../components/loader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="menu-bar.js"></script>
<script src="../components/notificaciones.js"></script>
<script src="../components/botones.js"></script>
</body>
</html>