<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos/custom.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Kaiju - Gracias por su Compra</title>
</head>
<body class="crema overflow-hidden">
    <div class="loader">
        <div class="ball"></div>
    </div>

    <main>
        <section class="relative">
            <div class="text-center text-azul fuente-A text-3xl md:text-5xl uppercase pt-36 pb-10 mx-[10%]">
                <h1>¡Se ha tramitado su pago correctamente!</h1>
            </div>
            <p class="lg:mx-[18%] mx-[10%] text-center uppercase text-sm md:text-lg">Muchas gracias por elegirnos. <b>Por favor no olvide de revisar su correo electrónico</b> para verificar los datos de su pedido</p>
            <div class="mx-[10%] flex flex-col lg:flex-row justify-center items-center py-20 z-20 gap-5">
                <div class="fuente-A text-sm md:text-2xl uppercase lg:gap-7 flex justify-center items-center">
                    <a href="/" class="border-black border-2 py-3 px-20 md:px-28 rounded-3xl hover:bg-black hover:text-white ease-in-out delay-150 duration-300">Volver al home</a>
                </div>
                <div class="fuente-A text-sm md:text-2xl uppercase lg:gap-7 flex justify-center items-center">
                    <a href="/panel-usuario" class="border-black border-2 py-3 px-20 md:px-28 rounded-3xl hover:bg-black hover:text-white ease-in-out delay-150 duration-300">Volver a mi perfil</a>
                </div>
            </div>

            <div class="absolute top-28 md:top-0 md:w-96 right-0 opacity-25 md:opacity-40 -z-10">
                <img src="/imagenes/medio-squid - copia.png" alt="dibujo de un calamar">
            </div>
            
        </section>

    </main>

<script src="../components/loader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="script.js"></script>
<script src="../components/notificaciones.js"></script>
</body>
</html>