<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos/custom.css">
    <link rel="stylesheet" href="/calamar/admin.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Kaiju - Administrar Clientes</title>
</head>
<body class="crema">
    
    <main class="relative">

        <!--BOTON PERFIL-->
        <div class="absolute top-0 right-0 p-8">
            <div class="flex justify-center items-center border-2 border-black py-2 px-5 rounded-3xl cursor-pointer gap-1 hover:border-blue-400 hover:text-blue-400 ease-in-out delay-150 duration-300">
                <i class='bx bxs-user'></i>
                <a href="/opciones">Admin</a>
            </div>
        </div>
        
    
        <!--MINI SIDEBAR-->
        <aside class="sidebar fixed top-0 left-0 azul text-white min-h-screen w-14 py-2 px-3 z-50"></aside>

        <!--CONTENIDO-->
        <section class="seccion-contenido pb-10">
            <div class="flex flex-col lg:flex-row lg:justify-center lg:items-center lg:gap-5 text-3xl lg:text-5xl uppercase">
                <h1 class="fuente-B">ADMINISTRAR</h1>
                <h1 class="fuente-A">CLIENTES</h1>
            </div>

            <!--TABLA CLIENTES-->
            <div class="flex flex-col mt-10">

                <!--Filtros-->
                <div class="flex flex-col lg:flex-row align-middle justify-end gap-2 relative">

                    <h1 class="text-azul py-2 lg:px-5">Filtrar usuarios:</h1>

                    <select name="fitro" id="filtro-verificados" class="shadow appearance-none border rounded-lg w-full lg:w-[30%] py-2 px-5 text-gray-700 leading-tight focus:outline-blue-300 focus:shadow-outline cursor-pointer">

                        <option value="Todo">Mostrar todos</option>    
                        <option value="Usuarios-verificados">Usuarios verificados</option>
                        <option value="Usuarios-no-verificados">Usuarios no verificados</option>
    
                    </select>

                    <div class="flex">

                        <input type="text" list="nombres" placeholder="Buscar por nombre" autocomplete="off" id="buscador-input" class="shadow appearance-none border rounded-lg w-full py-2 lg:px-5 text-gray-900 leading-tight focus:outline-blue-300 focus:shadow-outline cursor-pointer">

                        <button id="busacdor-Btn" class="flex w-12 azul text-white rounded-lg px-5 py-2 justify-center items-center hover:bg-teal-300 hover:text-gray-700 transition ease-out duration-300 delay-150">
                            <i class='bx bx-search'></i>
                        </button>

                    </div>

                    <datalist id="nombres"></datalist>

                </div>


                <h2 class="fuente-A uppercase lg:text-3xl text-2xl pb-3 border-b border-black mt-10 mb-8">Usuarios Verificados</h2>

                <div class="py-2 overflow-x-auto">
                  <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                    <table class="min-w-full">
                        <thead class="bg-gray-100">
                            <tr>
                                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                                        Nombre Cliente
                                </th>
                                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                                        Correo Electrónico
                                </th>
                                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                                        Teléfono
                                </th>
                                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                                        Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody id="listado-clientes" class="bg-white"></tbody>
                    </table>
                  </div>
                </div>
            </div>


            <!--TABLA NO VERIFICADOS-->
            <div class="flex flex-col mt-10">

                <h2 class="fuente-A uppercase lg:text-3xl text-2xl pb-3 border-b border-black mb-8">Usuarios No Verificados</h2>

                <div class="py-2 overflow-x-auto">
                  <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                    <table class="min-w-full">
                        <thead class="bg-gray-100">
                            <tr>
                                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                                        Nombre Usuario
                                </th>
                                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                                        Correo Electrónico
                                </th>

                                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                                    Fecha de Creación
                                </th>

                                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                                        Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody id="listado-no-verified" class="bg-white"></tbody>
                    </table>
                  </div>
                </div>
            </div>


              <!--MODAL ENVIAR MENSAJE-->
                <dialog data-modal-enviar class="top-[10%] left-[10%] lg:left-[30%] h-[88%] lg:h-[85%] w-[80%] lg:w-[40%] bg-white rounded-lg px-8 py-2 md:w-[50%] md:left-[30%]">
                    <div class="py-5">
                        <div class="relative top-4">
                            <svg data-close-modal xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 absolute top-0 right-0 cursor-pointer">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </div>
                        <h2 class="pb-10 pt-5 text-center text-azul fuente-A text-xl">Enviar mensaje al cliente</h2>
                        <form method="dialog" id="mensaje-form" class="flex flex-col gap-5">

                            <input disabled type="text" id="nombre" name="nombre" class="shadow border py-3 w-full rounded-md focus:outline-blue-400">

                            <input disabled type="text" id="correo" name="correo" class="shadow border py-3 w-full rounded-md focus:outline-blue-400">

                            <input type="text" id="asunto" name="asunto" placeholder="Escriba el asunto" class="shadow border py-3 w-full rounded-md focus:outline-blue-400">

                            <textarea id="cuerpo-mensaje" name="cuerpo" placeholder="Escriba el mensaje" rows="4" cols="50" autocomplete="off" class="py-3 px-3 mt-[8%] w-full shadow border rounded-md focus:outline-blue-400"></textarea>
                            
                            <div class="mt-8 flex justify-center items-center">
                                <button type="submit" class="py-2 px-14 rounded mx-2 text-white fuente-A text-xl transition ease-in-out delay-150 hover:bg-blue-300 hover:text-gray-900 shadow-xl hover:scale-110 duration-300 disabled:opacity-50 disabled:cursor-not-allowed" style="background-color: #3FA8F4;">Enviar Mensaje</button>
                            </div>
                        </form>
                    </div>
                </dialog>
            
        </section>
    </main>
    

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../components/dashboard.js"></script>
    <script src="clientes.js"></script>
    <script src="../components/notificaciones.js"></script>
</body>
</html>