<!DOCTYPE html>
      <html lang="en">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="icon" type="image/svg+xml" href="/imagenes/kaiju_icon.svg" />
          <link rel="stylesheet" href="/estilos/custom.css">
          <script src="https://cdn.tailwindcss.com"></script>
          <title>Kaiju - Datos de Reservación</title>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.9/pdfmake.min.js" integrity="sha512-5wC3oH3tojdOtHBV6B4TXjlGc0E2uk3YViSrWnv1VUmmVlQDAs1lcupsqqpwjh8jIuodzADYK5xCL5Dkg/ving==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.9/vfs_fonts.js" integrity="sha512-nNkHPz+lD0Wf0eFGO0ZDxr+lWiFalFutgVeGkPdVgrG4eXDYUnhfEj9Zmg1QkrJFLC0tGs8ZExyU/1mjs4j93w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      </head>

      <body class="azul">

        <main>
              <section>

                  <div class="text-center fuente-A text-white text-3xl md:text-5xl uppercase pt-40 pb-10 mx-[10%]">
                      <h1>El archivo se ha descargado</h1>
                  </div>

                  <p class="lg:mx-[18%] mx-[10%] text-white text-center uppercase text-sm md:text-lg">Muchas gracias por tu reservación. Si todavía no se descarga el archivo, refresca la página</p>

                  
              </section>

          </main>

      </body>

      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="script.js"></script>
      
      </html>
