<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/imagenes/kaiju_icon.svg" />
    <link rel="stylesheet" href="/estilos/custom.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Kaiju - Confirmar Usuario</title>
</head>
<body class="azul overflow-hidden">
    <div class="loader">
        <div class="ball"></div>
    </div>
    <header>
        <!--Barra de navegacion-->
        <nav id="navBar" class="azul h-16 flex items-center justify-center"></nav>
    </header>

    <main>
        <section>
            <div class="text-center fuente-A text-white text-3xl md:text-5xl uppercase pt-24 pb-10 mx-[10%]">
                <h1>Cuenta confirmada correctamente</h1>
            </div>
            <p class="lg:mx-[18%] mx-[10%] text-white text-center uppercase text-sm md:text-lg">Muachas gracias por unirse a nuestra plataforma. Ahora puede iniciar sesión desde el login</p>
            <div class="mx-[10%] flex justify-center items-center py-20 z-20">
                <div class="fuente-A text-white text-sm md:text-2xl uppercase lg:gap-7 flex justify-center items-center">
                    <a href="/login/" class="border-2 py-3 px-20 md:px-28 rounded-3xl hover:bg-white hover:text-blue-400 ease-in-out delay-150 duration-300">Log-in</a>
                </div>
            </div>
            
        </section>

    </main>

<script src="../components/loader.js"></script>
</body>
</html>